.body {
    background: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.container {
    width: 1030px;
    margin-left: auto;
    margin-right: auto;
}

.contact-info {
    padding-top: 46px;
    padding-bottom: 17px;
    display: grid;
    grid-template-columns: 200px 220px;
    justify-content: space-between;
}

.logo-link {
    display: grid;
    grid-template-columns: 53px 1fr;
    grid-column-gap: 8px;
    grid-template-areas:
    "logo top"
    "logo bot";
}
.logo-picture {
    grid-area: logo;
    position: relative;
}
.logo-header-top {
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
    margin: 0;
    text-transform: uppercase;
    grid-area: top;
}
.logo-header-bot {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0;
    text-transform: uppercase;
    grid-area: bot;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.email {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0;

}
.phone {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0;
    justify-self: end;
}

.logo-link:hover .logo-header-top  {
    color: #F26522;
}
.logo-link:hover .logo-header-bot  {
    color: #F26522;
}
.logo-picture-hover {
   position: absolute;
    z-index: -1;
}
.logo-link:hover .logo-picture-hover {
    z-index: 1;
}
.email:hover {
    color: #F26522;
}
.phone:hover {
    color:#F26522;
}

.tours-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3,300px);
    grid-column-gap: 61px;
    padding-left: 0;
    grid-row-gap: 37px;
}
.tour-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 0;
}
.copyright {
    margin-top: 49px;
    text-align: center;
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}

.cover {
    background-color: #F26522;
    position: absolute;
    bottom: 38px;
    left: 0;
    right: 0;
    height: 0;
    overflow: hidden;
}

.price-start {
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    margin: 0;
    padding-top: 7px;
    padding-left: 16px;
}
.description {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 0;
    padding-left: 16px;
    padding-right: 32px;
}
.price {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 0;
}
.details {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    margin: 0;
    position: relative;
}
.details::after {
    content: url("../images/vector.png");
    background-size: 5px 10px;
    color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 16px;
}

.tour-item {
    position: relative;
}
.tour-item:hover .cover {
    height: 55px;
    display: block;
}
.tour-item:hover .tour-description {
    color: #F26522;
}
